<div>
   <ul>
     <li>
        <a routerLink="departments" routerLinkActive="active">Departments</a>
     </li>
     <li>
        <a routerLink="employees"  routerLinkActive="active">Empolyees</a>
     </li>
     <li>
        <a routerLink="users" routerLinkActive="active">Users</a>
     </li>
     <li>
        <a routerLink="posts"  routerLinkActive="active">Posts</a>
     </li>
     <li>
        <a routerLink="details/1" routerLinkActive="active">Details</a>
     </li>
     <li>
      <a routerLink="test" routerLinkActive="active">Test</a>
   </li>
   </ul>
</div>

<router-outlet></router-outlet>
